<!DOCTYPE html>
<html>
  <head>
    <title>Create Your Profile</title>
  </head>
  <body>

    <h1>Enter Your Information</h1>

    <form action="/profile" method="POST">

      <label>Name:
        <input type="text" name="name">
      </label>
      <br><br>

      <label>Age:
        <input type="text" name="age">
      </label>
      <br><br>

      <label>City:
        <input type="text" name="city">
      </label>
      <br><br>

      <label>Hobby:
        <input type="text" name="hobby">
      </label>
      <br><br>

      <button type="submit">Create Profile</button>

    </form>

  </body>
</html>
